.landing-page-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 913px;
}
.create-room17 {
  position: absolute;
  top: 125px;
  left: 263px;
  font-size: var(--font-size-51xl);
  font-family: var(--font-chewy);
  color: var(--color-darkgoldenrod-100);
}
.wisely3 {
  color: var(--color-darkgoldenrod-200);
}
.chews-wisely3 {
  position: absolute;
  height: 1.83%;
  width: 13.82%;
  top: 8.55%;
  left: 5.83%;
  font-size: var(--font-size-11xl);
  font-family: var(--font-chewy);
  display: inline-block;
  color: var(--color-white);
}
.header-child1 {
  position: relative;
  width: 64.2px;
  height: 41px;
  object-fit: cover;
}
.create-room18 {
  position: relative;
  letter-spacing: 0.15em;
}
.create-room-item16,
.create-room-item18,
.create-room-item19,
.create-room-item20 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
}
.create-room-item18,
.create-room-item19,
.create-room-item20 {
  color: var(--color-darkgoldenrod-100);
}
.create-room-item19,
.create-room-item20 {
  color: var(--color-wheat);
}
.create-room-item20 {
  border-radius: var(--br-21xl);
  background-color: var(--color-wheat);
  color: var(--color-gray);
}
.header3,
.main-header3,
.navigation-menu3 {
  width: 536px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.header3,
.main-header3 {
  width: 1152px;
  align-items: center;
  justify-content: space-between;
}
.main-header3 {
  position: absolute;
  top: 5px;
  left: calc(50% - 757px);
  background: linear-gradient(
    180deg,
    rgba(37, 49, 39, 0) 5.62%,
    #253127 81.77%,
    rgba(37, 49, 39, 0.53) 99.99%
  );
  width: 1466px;
  height: 87px;
  flex-direction: column;
  justify-content: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-chewy);
}
.create-room-child {
  position: absolute;
  top: 117px;
  left: 100px;
  width: 135px;
  height: 69px;
  object-fit: cover;
}
.create-room-inner,
.top-1-icon {
  position: absolute;
  mix-blend-mode: overlay;
}
.create-room-inner {
  top: 263px;
  left: 88px;
  border-radius: var(--br-11xl);
  background-color: var(--color-darkslategray-200);
  width: 668px;
  height: 540px;
}
.top-1-icon {
  top: 569px;
  left: 288px;
  border-radius: var(--br-3xs);
  width: 342px;
  height: 46px;
}
.comhiclipartdkrnw-removebg-pre-icon {
  position: absolute;
  top: 703px;
  left: 209px;
  width: 83px;
  height: 65.4px;
  object-fit: cover;
}
.top-2-icon {
  position: absolute;
  top: 640px;
  left: 288px;
  border-radius: var(--br-3xs);
  width: 342px;
  height: 46px;
  mix-blend-mode: overlay;
}
.comhiclipartdkrnw-removebg-pre-icon1 {
  position: absolute;
  top: 623px;
  left: 214px;
  width: 77.8px;
  height: 72px;
  object-fit: cover;
}
.top-3-icon {
  position: absolute;
  top: 713px;
  left: 288px;
  border-radius: var(--br-3xs);
  width: 342px;
  height: 46px;
  mix-blend-mode: overlay;
}
.add-your-top,
.room-name1,
.username1 {
  position: absolute;
  top: 304px;
  left: 130px;
  letter-spacing: 0.15em;
}
.add-your-top,
.room-name1 {
  top: 401px;
}
.add-your-top {
  top: 522px;
  left: 238px;
  display: inline-block;
  width: 371px;
}
.kisspng-computer-icons-fast-fo1 {
  position: absolute;
  top: 151px;
  left: 784px;
  width: 570px;
  height: 696px;
  object-fit: cover;
}
.username-icon5,
.username2 {
  position: absolute;
  top: 337px;
  left: 130px;
  border-radius: var(--br-3xs);
  width: 573px;
  height: 46px;
  mix-blend-mode: overlay;
}
.username2 {
  top: 441px;
  left: 136px;
  background-color: var(--color-white);
  width: 567px;
}
.comhiclipartdkrnw-removebg-pre-icon2 {
  position: absolute;
  top: 552px;
  left: 214px;
  width: 62px;
  height: 79px;
  object-fit: cover;
}
.rectangle-icon {
  position: absolute;
  top: 507px;
  left: 860px;
  border-radius: var(--br-11xl);
  width: 392px;
  height: 70px;
  mix-blend-mode: lighten;
}
.decide {
  position: absolute;
  top: 525px;
  left: 994px;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
}
.create-room-child1 {
  position: absolute;
  top: 401px;
  left: 860px;
  border-radius: var(--br-11xl);
  width: 392px;
  height: 70px;
  mix-blend-mode: lighten;
}
.copy-room-id {
  position: absolute;
  top: 420px;
  left: 959px;
  font-size: 25px;
  letter-spacing: 0.15em;
  color: var(--color-black);
}
.clipboard-512x512-removebg-pre-icon {
  position: absolute;
  top: 412px;
  left: 886px;
  width: 46px;
  height: 46px;
  object-fit: cover;
}
.create-room16 {
  position: relative;
  width: 100%;
  height: 2081px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-wheat);
  font-family: var(--font-montserrat);
}
