@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.vector-icon {
  position: absolute;
  top: 213px;
  left: 123px;
  width: 56px;
  height: 59px;
}
.room-link {
  position: absolute;
  top: 240px;
  left: calc(50% - 126.5px);
  display: inline-block;
  width: 202px;
  height: 47px;
}

.room-id input {
  height: 65px;
  width: 480px;
  padding: 8px; 
  box-sizing: border-box; 
  border: 1px solid #ccc; 
  border-radius: 10px; 
  font-size: 32px;
  font-family: var(--font-outfit);
}

.frame-div {
  position: absolute;
  top: 233px;
  left: 379px;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro);
  width: 681px;
  height: 367px;
  mix-blend-mode: darken;
  color: #683333;
}
.have-your-friends,
.hosts-name {
  position: absolute;
  display: inline-block;
}
.hosts-name {
  top: 123px;
  left: calc(50% - 95px);
  color: #cdbebe;
  width: 202px;
  height: 47px;
}
.have-your-friends {
  top: 10px;
  left: 10px;
  width: 661px;
}
.hosts-name {
  padding: 5px;
  cursor: text;
}

.hosts-name:focus {
  outline: none;
  border-color: transparent;
}

.have-your-friends-join-your-ro-wrapper {
  position: absolute;
  top: 191px;
  left: 379px;
  border-radius: var(--br-11xl);
  background-color: var(--color-black);
  width: 681px;
  height: 100px;
  text-align: center;
}
.room-id {
  position: absolute;
  top: 359px;
  left: 419px;
  color: var(--color-black);
}
.chews-wisely3 {
  position: absolute;
  top: 2px;
  left: 11px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.logo-wrapper,
.logo3 {
  position: absolute;
  width: 200px;
  height: 30px;
}
.logo3 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-200);
}
.logo-wrapper {
  top: 42px;
  left: 82.5px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-xl);
}
.create-room4 {
  position: relative;
}
.create-room3 {
  position: absolute;
  top: 634px;
  left: 613px;
  border-radius: var(--br-21xl);
  background-color: var(--color-black);
  width: 214px;
  height: 81px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
  cursor: pointer;
  font-size: var(--font-size-xl);
  color: var(--color-aliceblue);
  font-family: var(--font-montserrat);
}
.desktop-create-room {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 800px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-outfit);
}
