.image-5-icon {
  position: absolute;
  top: 81px;
  left: 0;
  width: 1463px;
  height: 430px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.donate-now {
  margin: 0;
}
.tie-breaker {
  position: absolute;
  top: 251px;
  left: calc(50% - 258px);
  font-size: 50px;
  display: inline-block;
  color: var(--color-white);
  width: 515px;
  height: 91px;
}
.tie-breaker1 {
  top: 549px;
  left: calc(50% - 681px);
  width: 187px;
}
.tie-breaker1,
.tie-breaker2,
.tie-breaker3 {
  position: absolute;
  display: inline-block;
  height: 35px;
}
.tie-breaker2 {
  top: 581px;
  left: calc(50% - 675px);
  font-size: 19px;
  font-weight: 300;
  text-align: justify;
  width: 484px;
}
.tie-breaker3 {
  top: 0;
  left: calc(50% - 252.5px);
  width: 172px;
}
.san-marcelino-st {
  margin-block-start: 0;
  margin-block-end: 1.5px;
}
.tie-breaker4 {
  position: absolute;
  top: 35px;
  left: calc(50% - 227.5px);
  font-size: var(--font-size-mini);
  font-weight: 300;
  text-align: justify;
  display: inline-block;
  width: 480px;
  height: 70px;
}
.tie-breaker-parent {
  position: absolute;
  top: 585px;
  left: calc(50% + 313px);
  width: 505px;
  height: 105px;
}
.gcash-logo-1-icon,
.n-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 195px;
  height: 82px;
  object-fit: cover;
}
.n-1-icon {
  top: 66px;
  left: 9px;
  width: 178px;
  height: 173px;
  mix-blend-mode: normal;
}
.gcash-logo-1-parent {
  position: absolute;
  top: 521px;
  left: 615px;
  width: 195px;
  height: 231px;
}
.maya2-removebg-preview-1-icon,
.n-1-icon1 {
  position: absolute;
  top: 547px;
  left: 868px;
  width: 124px;
  height: 38px;
  object-fit: cover;
}
.n-1-icon1 {
  top: 585px;
  left: 843px;
  width: 173px;
  height: 175px;
}
.desktop-mema-donate-child {
  position: absolute;
  top: 524.5px;
  left: 579.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 262px;
}
.desktop-mema-donate-inner {
  position: absolute;
  top: 44.5px;
  left: 251.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1157px;
  height: 1px;
}
.chews-wisely1 {
  position: absolute;
  top: 2px;
  left: 11px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.logo1 {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-200);
  width: 200px;
  height: 30px;
  cursor: pointer;
  z-index: 0;
  text-align: center;
  font-size: var(--font-size-xl);
}
.header-item {
  position: relative;
  width: 63.2px;
  height: 40px;
  z-index: 1;
}
.home2 {
  position: relative;
  letter-spacing: 0.15em;
}
.about-item2,
.about-item3,
.home-item1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
}
.home-item1 {
  width: 109px;
  color: var(--color-gray-300);
}
.about-item2,
.about-item3 {
  width: 158px;
}
.about-item3 {
  width: 162px;
}
.navigation-menu1 {
  width: 489px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
  color: var(--color-gray-200);
}
.donate1,
.home3 {
  position: absolute;
}
.home3 {
  top: 11px;
  left: 18px;
  letter-spacing: 0.15em;
}
.donate1 {
  margin: 0 !important;
  top: 4px;
  left: 1114.5px;
  border-radius: var(--br-41xl);
  background-color: var(--color-gray-200);
  width: 100px;
  height: 45px;
  display: none;
  z-index: 3;
}
.header2,
.header3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header3 {
  width: 1174px;
  flex-direction: row;
  position: relative;
  z-index: 0;
}
.header2 {
  position: absolute;
  top: 19px;
  left: -143px;
  width: 1516px;
  height: 52px;
  flex-direction: column;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.fb-icon-325x325-1 {
  position: absolute;
  top: 6px;
  left: 0;
  width: 44px;
  height: 44px;
  object-fit: cover;
}
.instagram-logo-2016-1-icon,
.twitter-x-new-logo-x-rounded-i-icon {
  position: absolute;
  top: 0;
  left: 92px;
  width: 76px;
  height: 56px;
  object-fit: cover;
}
.instagram-logo-2016-1-icon {
  top: 7px;
  left: 55px;
  width: 43px;
  height: 43px;
}
.fb-icon-325x325-1-parent {
  position: absolute;
  top: 690px;
  left: 1054px;
  width: 168px;
  height: 56px;
}
.desktop-mema-donate {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 800px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-8xl);
  color: var(--color-black);
  font-family: var(--font-outfit);
}
