.options,
.voting-room {
  position: absolute;
  display: inline-block;
}
.voting-room {
  top: 79px;
  left: calc(50% - 194px);
  color: var(--color-black);
  width: 291px;
  height: 90px;
}
.options {
  top: 10px;
  left: 10px;
  width: 661px;
}
.options-wrapper {
  position: absolute;
  top: 3.3px;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-black);
  width: 725.8px;
  height: 77px;
  transform: rotate(-0.26deg);
  transform-origin: 0 0;
  text-align: center;
  color: var(--color-white);
}
.group-child {
  position: absolute;
  height: 97.5%;
  width: 100%;
  top: 1.25%;
  right: 0;
  bottom: 1.25%;
  left: 0;
  border-radius: var(--br-21xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div,
.vector-parent {
  position: absolute;
  top: 0;
  left: 33.33%;
}
.vector-parent {
  height: 7.92%;
  width: 7.46%;
  top: 36.63%;
  right: 84.81%;
  bottom: 55.45%;
  left: 7.73%;
}
.blank-line {
  margin: 0;
}
.pano-to-burahin-container {
  position: absolute;
  top: 50.5px;
  left: 234px;
  display: none;
  width: 213px;
  height: 266px;
}
.vector-container,
.vector-group {
  position: absolute;
  height: 7.92%;
  width: 7.46%;
  top: 20.79%;
  right: 36.6%;
  bottom: 71.29%;
  left: 55.94%;
}
.vector-container {
  top: 36.83%;
  bottom: 55.25%;
}
.group-child1 {
  height: 97.5%;
  width: 100%;
  right: 0;
  bottom: 2.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div3,
.group-child1 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-container,
.group-wrapper,
.wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.group-container,
.group-wrapper {
  width: 22.22%;
  right: 38.89%;
  left: 38.89%;
}
.group-container {
  height: 7.92%;
  width: 7.46%;
  top: 20.99%;
  right: 84.81%;
  bottom: 71.09%;
  left: 7.73%;
}
.group-div,
.vector-parent1,
.vector-parent2,
.vector-parent3,
.vector-parent4 {
  position: absolute;
  height: 7.92%;
  width: 7.46%;
  top: 52.28%;
  right: 84.81%;
  bottom: 39.8%;
  left: 7.73%;
}
.vector-parent1,
.vector-parent2,
.vector-parent3,
.vector-parent4 {
  top: 68.71%;
  bottom: 23.37%;
}
.vector-parent2,
.vector-parent3,
.vector-parent4 {
  top: 85.15%;
  bottom: 6.93%;
}
.vector-parent3,
.vector-parent4 {
  top: 52.28%;
  right: 36.6%;
  bottom: 39.8%;
  left: 55.94%;
  color: var(--color-white);
}
.vector-parent4 {
  top: 68.71%;
  right: 36.46%;
  bottom: 23.37%;
  left: 56.08%;
}
.div9,
.vector-parent5 {
  position: absolute;
  top: 0;
  left: 18.52%;
}
.vector-parent5 {
  height: 7.92%;
  width: 7.46%;
  top: 84.75%;
  right: 36.6%;
  bottom: 7.33%;
  left: 55.94%;
  color: var(--color-white);
}
.group-parent {
  position: absolute;
  top: 6px;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro);
  width: 724px;
  height: 505px;
  mix-blend-mode: darken;
}
.pano-to-burahin-container1 {
  position: relative;
  display: none;
  width: 213px;
  height: 266px;
  flex-shrink: 0;
}
.pano-to-burahin-hahaha-wrapper {
  position: absolute;
  top: 6px;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro);
  height: 505px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  mix-blend-mode: darken;
}
.frame-item {
  top: 101px;
  left: 39px;
  background-color: var(--color-white);
  width: 314px;
}
.frame-child1,
.frame-child2,
.frame-child3,
.frame-inner,
.frame-item {
  position: absolute;
  border-radius: var(--br-xl);
  height: 61px;
  mix-blend-mode: soft-light;
}
.frame-inner {
  top: 178px;
  left: 39px;
  background-color: var(--color-white);
  width: 313px;
}
.frame-child1,
.frame-child2,
.frame-child3 {
  top: 259px;
  left: 38px;
  width: 314px;
}
.frame-child2,
.frame-child3 {
  top: 341px;
  left: 39px;
}
.frame-child3 {
  top: 423px;
  left: 39.1px;
}
.frame-child4,
.frame-child5,
.frame-child6,
.frame-child7,
.frame-child8 {
  position: absolute;
  top: 101px;
  left: 382.1px;
  width: 314px;
  height: 61px;
  mix-blend-mode: soft-light;
}
.frame-child5,
.frame-child6,
.frame-child7,
.frame-child8 {
  top: 183px;
  border-radius: var(--br-xl);
}
.frame-child6,
.frame-child7,
.frame-child8 {
  top: 259px;
}
.frame-child7,
.frame-child8 {
  top: 341px;
  width: 312px;
}
.frame-child8 {
  top: 423px;
  width: 314px;
}
.instance-parent {
  position: absolute;
  top: 153px;
  left: 637px;
  width: 726px;
  height: 520px;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
}
.create-room2 {
  position: relative;
}
.create-room-item {
  position: absolute;
  height: 10.11%;
  width: 15.97%;
  top: 86.88%;
  right: 22.5%;
  bottom: 3.01%;
  left: 61.53%;
  border-radius: var(--br-21xl);
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
  cursor: pointer;
  font-size: var(--font-size-5xl);
  font-family: var(--font-montserrat);
}
.chews-wisely2 {
  position: absolute;
  top: 2px;
  left: 11px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.logo2 {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-200);
  width: 200px;
  height: 30px;
  cursor: pointer;
  z-index: 0;
  text-align: center;
  font-size: var(--font-size-xl);
}
.header-inner {
  position: relative;
  width: 63.2px;
  height: 40px;
  z-index: 1;
}
.home4 {
  position: relative;
  letter-spacing: 0.15em;
}
.about-item4,
.about-item5,
.home-item2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
}
.home-item2 {
  width: 109px;
  color: var(--color-gray-300);
}
.about-item4,
.about-item5 {
  width: 158px;
}
.about-item5 {
  width: 162px;
}
.navigation-menu2 {
  width: 489px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
  color: var(--color-gray-200);
}
.donate2,
.home5 {
  position: absolute;
}
.home5 {
  top: 11px;
  left: 18px;
  letter-spacing: 0.15em;
}
.donate2 {
  margin: 0 !important;
  top: 4px;
  left: 1114.5px;
  border-radius: var(--br-41xl);
  background-color: var(--color-gray-200);
  width: 100px;
  height: 45px;
  display: none;
  z-index: 3;
}
.header5 {
  width: 1174px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 0;
}
.header-wrapper,
.header4 {
  position: absolute;
  width: 1516px;
  height: 52px;
}
.header4 {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header-wrapper {
  top: 31px;
  left: -89px;
  font-size: var(--font-size-base);
}
.instructions {
  position: absolute;
  top: 23px;
  left: 31px;
  letter-spacing: 0.15em;
  font-weight: 800;
}
.familiarize-yourself-with {
  margin-bottom: 7px;
}
.familiarize-yourself-with-the {
  margin: 0;
  padding-left: 26px;
}
.familiarize-yourself-with-container {
  position: absolute;
  top: 61px;
  left: 17px;
  font-size: var(--font-inherit);
  letter-spacing: 0.15em;
  font-weight: 500;
  font-family: var(--font-inherit);
  display: inline-block;
  width: 534px;
  height: 126px;
}
.instruction-voting-room {
  position: absolute;
  height: 63.13%;
  width: 39.44%;
  top: 19.88%;
  right: 57.64%;
  bottom: 17%;
  left: 2.92%;
  border-radius: var(--br-11xl);
  background-color: #434343;
  font-size: var(--font-size-xl);
}
.desktop-voting-room {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 800px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-outfit);
}
