body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-outfit: Outfit;
  --font-montserrat: Montserrat;
  --font-chewy: Chewy;
  --font-inherit: inherit;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-mini: 15px;
  --font-size-21xl: 40px;
  --font-size-xs: 12px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-8xl: 27px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-gray-100: #fafafa;
  --color-gray-200: #111827;
  --color-gray-300: rgba(0, 0, 0, 0.66);
  --color-black: #000;
  --color-darkslategray-100: #253127;
  --color-darkslategray-200: #242f25;
  --color-white: #fff;
  --color-gainsboro: #d9d9d9;

  /* Paddings */
  --padding-base: 16px;
  --padding-xl: 20px;

  /* Border radiuses */
  --br-21xl: 40px;
  --br-base: 16px;
  --br-41xl: 60px;
  --br-3xs: 10px;
  --br-11xl: 30px;
  --br-xl: 20px;
}
