body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --font-chewy: Chewy;

  /* font sizes */
  --font-size-21xl: 40px;
  --font-size-xs: 12px;
  --font-size-xl: 20px;
  --font-size-mini: 15px;
  --font-size-11xl: 30px;
  --font-size-lg: 18px;
  --font-size-51xl: 70px;

  /* Colors */
  --color-darkslategray-100: #253127;
  --color-darkslategray-200: #242f25;
  --color-white: #fff;
  --color-darkgoldenrod-100: #cc8b24;
  --color-darkgoldenrod-200: rgba(204, 139, 36, 0.48);
  --color-wheat: #efe4b9;
  --color-gray: #111827;
  --color-black: #000;

  /* Paddings */
  --padding-base: 16px;
  --padding-xl: 20px;

  /* Border radiuses */
  --br-base: 16px;
  --br-21xl: 40px;
  --br-11xl: 30px;
  --br-3xs: 10px;
}
