.landing-page-icon1 {
  position: absolute;
  top: 28px;
  left: 0;
  width: 1440px;
  height: 1014px;
}
.ready {
  position: absolute;
  top: 640px;
  left: 642px;
  font-family: var(--font-montserrat);
  color: var(--color-black);
}
.join-room-2-child {
  position: absolute;
  top: 624px;
  left: 500px;
  border-radius: var(--br-11xl);
  width: 392px;
  height: 70px;
  mix-blend-mode: color-dodge;
}
.username-icon,
.username-icon1,
.username-icon2 {
  position: absolute;
  top: 390px;
  left: 405px;
  border-radius: var(--br-3xs);
  width: 581px;
  height: 54px;
  mix-blend-mode: linear-burn;
}
.username-icon1,
.username-icon2 {
  top: 464px;
}
.username-icon2 {
  top: 538px;
}
.header-item {
  position: relative;
  width: 64.2px;
  height: 41px;
  object-fit: cover;
}
.create-room6 {
  position: relative;
  letter-spacing: 0.15em;
}
.create-room-item10,
.create-room-item6,
.create-room-item9 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
}
.create-room-item10,
.create-room-item9 {
  color: var(--color-darkgoldenrod-100);
}
.create-room-item10 {
  border-radius: var(--br-21xl);
  background-color: var(--color-wheat);
  color: var(--color-gray);
}
.header1,
.main-header1,
.navigation-menu1 {
  width: 536px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.header1,
.main-header1 {
  width: 1152px;
  align-items: center;
  justify-content: space-between;
}
.main-header1 {
  position: absolute;
  top: 28px;
  left: calc(50% - 757px);
  background: linear-gradient(
    180deg,
    rgba(37, 49, 39, 0) 5.62%,
    #253127 81.77%,
    rgba(37, 49, 39, 0.53) 99.99%
  );
  width: 1466px;
  height: 87px;
  flex-direction: column;
  justify-content: center;
  font-size: var(--font-size-xl);
}
.join-room-2-item {
  position: absolute;
  top: 218px;
  left: 358px;
  border-radius: var(--br-11xl);
  background-color: var(--color-darkslategray-200);
  width: 668px;
  height: 540px;
  mix-blend-mode: screen;
}
.names-room {
  position: absolute;
  top: 235px;
  left: 497px;
  font-size: var(--font-size-51xl);
  color: var(--color-darkgoldenrod-100);
}
.list-your-3 {
  position: absolute;
  top: 347px;
  left: 438px;
  font-size: var(--font-size-lg);
  letter-spacing: 0.15em;
  font-family: var(--font-montserrat);
}
.wisely1 {
  color: var(--color-darkgoldenrod-200);
}
.chews-wisely1 {
  position: absolute;
  height: 1.82%;
  width: 13.82%;
  top: 19.66%;
  left: 43.06%;
  display: inline-block;
}
.join-room-2-inner {
  position: absolute;
  top: 115px;
  left: 636px;
  width: 135px;
  height: 69px;
  object-fit: cover;
}
.join-room-2 {
  position: relative;
  width: 100%;
  height: 895px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-chewy);
}
