.chews-wisely {
  position: absolute;
  top: 2px;
  left: 11px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.logo {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  width: 200px;
  height: 30px;
  cursor: pointer;
  z-index: 0;
  text-align: center;
  font-size: var(--font-size-xl);
}
.header-child {
  position: relative;
  width: 63.2px;
  height: 40px;
  object-fit: cover;
  z-index: 1;
}
.home {
  position: relative;
  letter-spacing: 0.15em;
}
.about-item,
.home-item {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
}
.home-item {
  width: 109px;
  color: rgba(0, 0, 0, 0.66);
}
.about-item {
  width: 158px;
}
.about1 {
  position: relative;
  letter-spacing: 0.15em;
  white-space: pre-wrap;
}
.about-item1,
.navigation-menu {
  flex-shrink: 0;
  flex-direction: row;
}
.about-item1 {
  width: 162px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
}
.navigation-menu {
  width: 489px;
  display: none;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
  color: var(--color-gray-100);
}
.donate,
.home1 {
  position: absolute;
}
.home1 {
  top: 11px;
  left: 18px;
  letter-spacing: 0.15em;
}
.donate {
  margin: 0 !important;
  top: 4px;
  left: 1114.5px;
  border-radius: var(--br-41xl);
  background-color: var(--color-gray-100);
  width: 100px;
  height: 45px;
  display: none;
  z-index: 3;
}
.header,
.header1 {
  align-items: center;
  justify-content: space-between;
}
.header1 {
  width: 1174px;
  display: none;
  flex-direction: row;
  position: relative;
  z-index: 0;
}
.header {
  position: absolute;
  top: 58px;
  left: 886px;
  width: 91px;
  height: 52px;
  display: flex;
  flex-direction: column;
}
.join-room {
  position: absolute;
  top: 0;
  left: calc(50% - 154.5px);
  font-size: 32px;
  font-family: var(--font-outfit);
  display: inline-block;
  width: 349px;
  height: 90px;
}
.group-child {
  position: relative;
  top: 59px;
  left: 0;
  border-radius: 42px;
  background-color: #d9d9d9;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 585px;
  height: 228px;
}
.group-inner,
.group-item {
  position: absolute;
  left: 63px;
  width: 460px;
  height: 71px;
}
.group-item {
  top: 90px;
  object-fit: cover;
}
.group-inner {
  top: 190px;
  background-color: var(--color-black);
}
.join {
  position: absolute;
  top: 211px;
  left: 260px;
  color: var(--color-white);
}
.enter-username {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #cdbebe;
}

#username {
  height: 27%;
  width: 80%; /* Adjust the width as needed */
  padding: 12px; /* Adjust the padding as needed */
  border: 2px solid #ccc; /* Add border styles */
  border-radius: 4px;
  box-sizing: border-box;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 27px;
}
#username::placeholder {
  color: gray; /* Set the initial text color as transparent */
}

.join-room-id-parent {
  position: absolute;
  top: 177px;
  left: calc(50% - 293px);
  width: 585px;
  height: 287px;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
.logo1 {
  position: absolute;
  top: 11px;
  left: 18.5px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  width: 200px;
  height: 30px;
}
.header-item {
  position: absolute;
  height: 76.92%;
  width: 26.01%;
  top: 11.54%;
  right: -390.74%;
  bottom: 11.54%;
  left: 464.73%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.about-item2,
.home-item1 {
  width: 74px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
  z-index: 0;
}
.about-item2 {
  width: 73px;
  z-index: 1;
  color: var(--color-gray-100);
}
.create-room {
  position: relative;
}
.create-room-item,
.join-room-item {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-mini);
}
.create-room-item {
  width: 176px;
  z-index: 2;
  color: #111112;
}
.join-room-item {
  width: 121px;
  z-index: 3;
  font-family: var(--font-montserrat);
}
.donate1,
.navigation-menu1 {
  position: absolute;
  display: none;
}
.donate1 {
  margin: 0 !important;
  top: 0;
  left: 469.5px;
  border-radius: var(--br-41xl);
  background-color: var(--color-gray-100);
  width: 100px;
  height: 45px;
  z-index: 4;
  color: var(--color-white);
}
.navigation-menu1 {
  top: 6px;
  left: 703.5px;
  width: 489px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.header2 {
  position: absolute;
  top: 50px;
  left: 34px;
  width: 243px;
  height: 52px;
  text-align: center;
  font-size: var(--font-size-xl);
}
.desktop-join-room-link {
  position: relative;
  background-color: #fafafa;
  width: 100%;
  height: 800px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-outfit);
}
